body {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}
.jumbotron {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #F50057;
}

.countdown {
  margin: 0px;
  color: white;
}

.container {
  top: 45vh;
  left: 40%;
  position: relative;
}

.big {
  font-size: 6vh;
}

.small {
  font-size: 3vh;
}
